file-drop {
  margin-top: 9vh;
  height: 40vh;
  width: 40vw;
  border-radius: 5dvh;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px dashed #b8daff;
  background: #f4f8ff;
  opacity: 0.8;
}

.file-picker__input {
  opacity: 0;
  position: absolute;
}

.file-picker__icon {
  fill: #0a7df8;
  width: 10rem;
  height: 10rem;
}

.file-picker__label {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #0a7df8;
}